<opena3xx-dialog-wrapper [config]="wrapperConfig" (close)="onCancel()" [showLoading]="loading">
  <form [formGroup]="editHardwareInputTypeForm" (ngSubmit)="onSubmit()" *ngIf="hardwareInputType">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Hardware Input Type Identifier</mat-label>
      <input matInput
             type="text"
             formControlName="id"
             readonly>
      <mat-icon matSuffix>format_list_numbered</mat-icon>
      <mat-hint>This field is uneditable. The identifier is generated automatically by the system.</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Hardware Input Type Name</mat-label>
      <input matInput
             type="text"
             formControlName="name"
             placeholder="Enter Hardware Input Type Name">
      <mat-icon matSuffix>text_format</mat-icon>
      <mat-hint>Enter the name of the hardware input type that describe the physical input type</mat-hint>
      <mat-error *ngIf="editHardwareInputTypeForm.get('name')?.hasError('required')">
        Hardware Input Type Name is Required
      </mat-error>
    </mat-form-field>
  </form>

  <div dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="editHardwareInputTypeForm.invalid || loading" (click)="onSubmit()">
      <mat-icon>check</mat-icon>
      Save
    </button>
  </div>
</opena3xx-dialog-wrapper>
