.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 16px;
}

.example-card {
  margin-bottom: 16px;
}

.image-dark-enhance {
  filter: brightness(0.8) contrast(1.2);
}

.dhcb {
  background-color: #3f51b5;
}
