<form [formGroup]="mapHardwareOutputSelectorsForm" (submit)="onSubmit($event)">
  <opena3xx-forms-select
    [field]="hardwareBoardsFieldConfig"
    [group]="mapHardwareOutputSelectorsForm"
    (selectChange)="onHardwareBoardSelectChange($event)"
  >
  </opena3xx-forms-select>

  <opena3xx-forms-select
    [field]="ioExtenderFieldConfig"
    [group]="mapHardwareOutputSelectorsForm"
    (selectChange)="onIoExtenderSelectChange($event)"
  >
  </opena3xx-forms-select>

  <opena3xx-forms-select
    [field]="ioExtenderBitFieldConfig"
    [group]="mapHardwareOutputSelectorsForm"
    (selectChange)="onIoExtenderBitSelectChange()"
  >
  </opena3xx-forms-select>

  <div class="button-container">
    <!-- Remove Mapping Button -->
    <button
      type="button"
      mat-flat-button
      color="warn"
      [disabled]="!hasCurrentMapping || removingMapping"
      (click)="onRemoveMapping()">
      <mat-icon>delete</mat-icon>
      Remove Mapping
    </button>

    <button type="submit" mat-flat-button color="primary" [disabled]="removingMapping">
      <mat-icon>check</mat-icon>
      Save
    </button>
  </div>
</form>
